# Gitea
USER_UID=1000
USER_GID=1000
GITEA_DATABASE_TYPE=postgres
GITEA_DATABASE_HOST=postgres:5432
GITEA_DATABASE_NAME=
GITEA_DATABASE_USER=
GITEA_DATABASE_PASSWORD=
GITEA_SERVICE_DISABLE_REGISTRATION=true
GITEA_INSTANCE_URL=gitea:3000
GITEA_RUNNER_REGISTRATION_TOKEN=
GITEA_REPOSITORY_DEFAULT_BRANCH=master
GITEA_METRICS_ENABLED=true
GITEA_ENABLED_ISSUE_BY_LABEL=true
GITEA_ENABLED_ISSUE_BY_REPOSITORY=true

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Traefik
TRAEFIK_HOSTNAME=